{# templates/updatedog.html #}
{% extends "base.html" %}

{% block Content %}
<h3>List of dogs</h3>
    <ul>
    {% for dog in dogs %}
      <li>
        {{ dog.name }}, {{dog.breed}}
      </li>
      {% endfor %}
    </ul> 
<form id="dataInputForm">
    <label for="dogName">Name:</label> 
        <input type="text" id="dogName" name="dogName" value="Enter Dog's name">
    <label for="breed">Breed:</label> 
        <input type="text" id="breed" name="breed" value="Breed">
    <label for="age">Age:</label> 
        <input type="text" id="age" name="age" value="0">
    <label for="specialInstruction">Special Instructions:</label><br> 
        <textarea id="specialInstruction" name="specialInstruction" cols="50" rows="10"></textarea>
    <br><label for="id">ID:</label> 
        <input type="text" id="ID" name="ID" value="{{customer_id}}">
    <input id="updatedog" type="submit" value="Update Dog">
</form>
    <h1 id="statsmsg"> </h1> <!--Where error msgs is displayed-->
    <h1 id="statsmsg"> </h1>
    <script>
        //this is the basic format for input. please adjust it for your needs on the different pages.
        document.getElementById('dataInputForm').addEventListener('submit', async function(event) {
            event.preventDefault(); // Prevent default form submission

            const formData = new FormData(this); // Get form data
            const dogName = formData.get('dogName'); // Extract text1 input value
            const breed = formData.get('breed'); // Extract text2 input value
            const age = formData.get('age'); // Extract text3 input value
            const specialInstruction = formData.get('specialInstruction'); // Extract text3 input value
            const ID = formData.get('ID'); // Extract text3 input value

            const data = {name: dogName, breed: breed, age: age, special_instructions: specialInstruction, Customer_id: ID};// ADJUST THESE VARIBLES FOR INPUT INTO API IT GOES WITH THE CLASS VARIBLES 

            const response = await fetch('/update_dog', { //assigne which endpoint we are trying to reach
                method: 'PUT', //what method we are using 
                headers: {'Content-Type': 'application/json'}, //what content type we need the infromation to be 
                body: JSON.stringify(data) //take that infromation and make it into a json for the api 
            });
            //debugger;
            //Check if response successful this is how we do error msgs for the clinent and display them
            if (response.ok)
            {
                document.getElementById("statsmsg").textContent = "Dog has been updated";
            }
            else
            {
                document.getElementById("statsmsg").textContent = "DOG FAILED TO UPDATE";
            }
        });

        
    </script>
{% endblock %}